body{
    background-color: black;
    margin: 0;
   
}
p{
    color: #FFFFFF;
    position: absolute;
    top: 195px;
    left: 391px;
    text-align: center;
    z-index: 2;
}
.img3{
    width: 421px;
}
.img2{
    z-index: 3;
}